commands:
    01updateComposer:
        command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

container_commands:
    00optimize:
        command: "/usr/bin/composer.phar dump-autoload --optimize"
    01-configCache:
        command: "php artisan config:cache"
    02-routeCache:
        command: "php artisan route:cache"