.tvshow-layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto minmax(400px, auto) minmax(200px, auto);
    grid-gap: 10px;

    .tvshow-header {
        grid-column:  1 / 3;
    }

    .tvshow-poster {
        grid-column: 1;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .tvshow-backdrop {
        grid-column: 2 / 3;
        text-align: center;
        background-size: cover;
        img {
            height: 100%;
        }
    }

    .tvshow-overview {
        grid-column: 1 / 3;
        padding: 20px;
    }
}